
.content {
  background-color: #530034;
  color: white;
  margin: 30px -30px -30px -30px;
  padding: 20px 28px;
  height: 170px;

  p {
    margin: 4px 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}
