
.wrap {
  min-height: calc(100vh - 64px - 170px - 60px);
}

.header-content-selection p {
  font-size: 2em;
}

.header-content {
  background-color: #530034;
  margin: -30px -45px 30px -45px;
  height: 150px;
  padding: 50px;
  position: sticky;
  z-index: 100;
  top: 0;

  p {
    font-family: 'Cairo', 'Cairo-SemiBold';
  }

  &.expanded {
    transition: 0.3s ease all;

    p {
      font-size: 3em;
      color: white;
      transition: 0.3s ease all;
    }
  }
  
  &.collapsed {
    height: 55px;
    display: flex;
    transition: 0.3s ease all;
    padding: 0;
    
    p {
      font-size: 1.7em;
      color: white;
      margin: auto 0 auto 24px;
      transition: 0.3s ease all;
    }
  }
}

.mat-divider {
  border-top-color: white;
  margin-top: 16px;
}

.footer {
  position: static;
  bottom: 0;
}

.card-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  $measure: 30px;
  margin-top: $measure;
  margin-bottom: $measure;

  .mat-ripple {
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  .mat-card {
    width: 150px;
    height: 70px;
    background: #4E1338;
    
    .mat-card-content {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 38px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .load-all {
      color: white;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;

      .mat-icon {
        font-size: 2em;
        transform: translateY(-3px);
        margin-right: 8px;
      }

      span {
        font-family: 'Poppins', 'Poppins-Regular';
        font-size: 1.15em;
      }

    }

    .text {
      font-family: 'Poppins', 'Poppins-Regular';
      font-size: 1.15em;
      color: white;
      text-align: center;
      margin: auto;
    }
  }

  .berry {
    width: 220px;
    height: 107px;
    
    .mat-card-content {
      display: flex;
      justify-content: space-between;
    }

    p {
      font-family: 'Poppins', 'Poppins-Regular';
      font-size: 1.15em;
      color: white;
      margin: 0;

      &:first-child {
        font-size: 1.65em;
        margin-bottom: 4px;
      }
    }

    .mat-card-image {
      width: auto;
      height: 75px;
      margin-right: 0;
    }

  }

}

