
<div class="card-content" *ngIf="type === 'berries'">
  
  <div matRipple *ngFor="let selection of selections | selection: type">
    <mat-card class="berry" (click)="go(selection, type)">

      <mat-card-content>
    
        <div class="name">
          <p>{{ selection?.name }}</p>
          <p>Berry</p>
        </div>

        <img
          mat-card-image 
          offset="300"
          defaultImage="assets/images/berry.png" 
          errorImage="assets/images/berry.png" 
          [lazyLoad]="selection?.byte64 | idToImage: 'byte64'" 
          [alt]="selection?.name">
        
      </mat-card-content>


    </mat-card>
  </div>

</div>

<div class="card-content" *ngIf="type !== 'berries'">
  
  <div matRipple *ngFor="let selection of selections | selection: type: loadAll">
    <mat-card (click)="go(selection, type)" [ngStyle]="{ 'background': type === 'type' || type.includes('move-') ? selection.color.dark : '#4E1338' }">

      <mat-card-content>
    
        <div *ngIf="type.includes('move-'); then thenBlock else elseBlock"></div>
        
        <ng-template #thenBlock>
          <p class="text">{{ selection | selection: 'move-name' }}</p>
        </ng-template>
        
        <ng-template #elseBlock>
          <p class="text">{{ selection?.name }}</p>
        </ng-template>
    
      </mat-card-content>

    </mat-card>
  </div>

  <div matRipple (click)="loadAll = true" *ngIf="(type.includes('move-') || type.endsWith(' Region'))&& (selections | selection: type: loadAll)?.length < 31">
    <mat-card>
      <mat-card-content class="load-all">
        <mat-icon>add</mat-icon>
        <span>Load all</span>
      </mat-card-content>
    </mat-card>
  </div>

</div>
