
<div class="card-content" *ngIf="type === 'berries'">
  
  <div matRipple class="mat-elevation-z5"*ngFor="let selection of selections | selection: type">
    <mat-card class="berry" (click)="go(selection, type)">
      <mat-card-content>
        <div class="name">
          <p>{{ selection?.name }}</p>
          <p>Berry</p>
        </div>
        <img
          mat-card-image 
          offset="300"
          defaultImage="assets/images/berry.png" 
          errorImage="assets/images/berry.png" 
          [lazyLoad]="selection?.byte64 | idToImage: 'byte64'" 
          [alt]="selection?.name">
      </mat-card-content>
    </mat-card>
  </div>

</div>

<div class="card-content" *ngIf="type !== 'berries'">
  
  <div matRipple class="mat-elevation-z5"*ngFor="let selection of selections | selection: type">
    <mat-card (click)="go(selection, type)" [ngStyle]="{ 'background': type === 'type' || type.includes('move-') ? selection.color.dark : '#4E1338' }">
      <mat-card-content [ngStyle]="{ 'flex-direction': type === 'machine' ? 'column' : 'row' }">
        <div *ngIf="type.includes('move-'); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <p class="text m-auto">{{ selection | selection: 'move-name' }}</p>
        </ng-template>
        <ng-template #elseBlock>
          <p class="text">{{ selection?.name }}</p>
          <p class="text" *ngIf="type === 'machine'">{{ selection?.meta }}</p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>

  <div matRipple class="mat-elevation-z5"(click)="loadAllSelections()" *ngIf="(type.includes('move-') || type.endsWith(' Region') || type === 'categories' || type === 'machine') && (!(shared.loadingCards|async) && selections.length === 30) && (selections.length !== all.length)">
    <mat-card>
      <mat-card-content class="load-all">
        <mat-icon>add</mat-icon>
        <span>Load all</span>
      </mat-card-content>
    </mat-card>
  </div>

</div>
