
.card-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  $measure: 30px;
  margin-top: $measure;
  margin-bottom: $measure;

  .mat-ripple {
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  .mat-card {
    width: 150px;
    height: 70px;
    background: #4E1338;
    
    .mat-card-content {
      display: flex;
      height: 38px;
    }

    .load-all {
      color: white;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;

      .mat-icon {
        font-size: 2em;
        transform: translateY(-3px);
        margin-right: 8px;
      }

      span {
        font-family: 'Poppins', 'Poppins-Regular';
        font-size: 1.15em;
      }

    }

    .text {
      font-family: 'Poppins', 'Poppins-Regular';
      font-size: 1.15em;
      color: white;
      text-align: center;
      margin: auto;
    }
  }

  .berry {
    width: 250px;
    height: 107px;
    
    .mat-card-content {
      display: flex;
      justify-content: space-between;
    }

    p {
      font-family: 'Poppins', 'Poppins-Regular';
      font-size: 1.15em;
      color: white;
      margin: 0;

      &:first-child {
        font-size: 1.65em;
        margin-bottom: 4px;
      }
    }

    .mat-card-image {
      width: 75px;
      height: 75px;
      margin-right: 0;
    }

  }

}

