
#nav {
  width: 700px;
  height: 93vh;
  // overflow-x: hidden;
  overflow-y: auto;

  p {
    margin: 0;
  }

  .sprites {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    p { text-align: center; }
  }

  #pokemon-type {
    display: inline-block;
    margin: 0 3px;

    .p-type {
      margin: 5px 0;

      > span {
        border-radius: 47.73px;
        // background: red;
        padding: 5px;
      }
    }
  }

  #pokemon-moves {
    padding: 0 5px;
  }

  #test {

    #collapse {
      background: #565656;
      height: 0;

      p {
        overflow: hidden;
      }
    }

  }
}
