
#nav {
  width: 700px;
  height: 92vh;
  overflow: auto;

  p {
    margin: 0;
  }

  .sprites {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    p { text-align: center; }
  }

}

.ring-1 {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  padding: 10px;
  border: 7px dashed #4b9cdb;
  border-radius: 100%;
  animation: loadingD 1.5s 0.3s cubic-bezier(.17,.37,.43,.67) infinite;
}

@keyframes loadingD {
  0 {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
