
.spinner {
  overflow: hidden;
  display: flex;
  padding: 96px 0;
  overflow: hidden;

  .mat-spinner {
    margin: auto;
  }
}

.spinner-message {
  display: flex;
  overflow: hidden;

  p {
    font-family: 'VT323', monospace;
    margin: auto;
    font-size: 2em;
  }
}

.poke-tooltip {
  background-color: #4E1338;
}

.content {
  font-family: 'VT323', monospace;
  
  .heading {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 32px 16px;
    padding-bottom: 32px;
    
    .text {
      padding: 14px 0 0 14px;

      .no { 
        font-size: 2em; 
        transform: translateX(-1px); 
      }
      .name { 
        font-size: 3em;
        line-height: 28px;
        transform: translateX(-2px); 
      }
      .region { 
        padding-top: 4px; 
        font-size: 1.5em;
        letter-spacing: 2px; 
      }
    }

    .image {
      display: flex;
      padding-right: 24px;

      img {
        margin: auto;
      }
    }
  }

  .mat-divider {
    margin: 0 16px;
  }

  .details {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 64px - 171px);
  }

  .selections {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    
    .selection {
      background-color: orange;
      padding: 20px 0;
      text-align: center;
      font-size: 2.0em;
      width: 210px;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  .detail {
    border: 1.5px solid violet;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-bottom: 20px;
    
    .key {
      background: violet;
      padding: 8px 12px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
    
    .value {
      padding: 8px 12px;

      .description {
        display: block;
        margin-bottom: 8px;
      }

      .mat-divider {
        margin: 0 0 8px 0;
      }

      .mat-chip {
        cursor: pointer;
      }

      .mat-chip span {
        font-size: 21px;
      }
    }
  }

  .credits {
    margin: 64px 0 32px 0;

    .app, .developer {
      font-family: 'Cairo', 'Cairo-SemiBold';
      font-size: 21px;
      text-align: center;
      letter-spacing: 4px;
      margin: 4px 0;
    }
  }
}
