
#wrapper {
  padding: 0 32px;
  padding-top: calc(25px + 8vh);

  #pokemon {
    // border: 2px solid orange;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 7.5px 0;
  }

  .mat-card {
    width: 160px;
    height: 199px;
    margin: 7.5px 7.5px;
    cursor: pointer;

    #name {
      cursor: default;
      text-align: center;
      font-family: 'Bai Jamjuree', sans-serif;
      font-weight: 600;
      margin-top: 15px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 16px;
    }

    img {
      width: 128px;
      pointer-events: none;
    }

    > div {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .mat-progress-spinner {
        margin: auto;
      }
    }

  }


}
