
<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="spinner-message" *ngIf="isLoading">
  <p>Please wait...</p>
</div>

<div class="content" *ngIf="!isLoading">
  
  <div class="heading">
    <div class="text">
      <p class="number">No. {{ pokemon?.id }}</p>
      <p class="name">{{ pokemon | pokemonDetails: 'species-name' }}</p>
      <p class="genus" #genus>{{ pokemon | pokemonDetails: 'species-genus' }}</p>
      <div class="types">
        <p matRipple matTooltip="show more details" matTooltipClass="poke-tooltip" class="type mat-elevation-z3" *ngFor="let type of pokemon?.types; let isFirst = first; let isLast = last" 
          (click)="showDetails(type?.data, 'type')"
          [ngStyle]="{ 
            'margin-left': isFirst ? '0' : '3px',
            'margin-right': isLast ? '0' : '3px',
            'background': type | pokemonDetails: 'type' | typeColor: 'light'
          }">
          {{ type | pokemonDetails: 'type' }}
        </p>
      </div>
    </div>
    <div class="image">
      <img
        width="256"
        defaultImage="assets/images/berry-resize.png" 
        errorImage="assets/images/berry-resize.png" 
        [lazyLoad]="pokemon | pokemonDetails: 'species-no' | idToImage: 'etf_assets'" 
        [alt]="pokemon?.name">
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="details">

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(0)" [matTooltip]="sections[0] ? 'Collapse' : 'Expand description'" matTooltipClass="poke-tooltip">
        <span>Description</span>
        <mat-icon *ngIf="!sections[0]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[0]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value" *ngIf="sections[0]">
        <span>{{ pokemon | pokemonDetails: 'species-description' }}</span>
      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(1)" [matTooltip]="sections[1] ? 'Collapse' : 'Expand information'" matTooltipClass="poke-tooltip">
        <span>Information</span>
        <mat-icon *ngIf="!sections[1]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[1]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value information" *ngIf="sections[1]">

        <div matRipple class="inner-detail small mat-elevation-z3">
          <div class="inner-key">
            <span>Height</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'height' }}</span>
          </div>
        </div>

        <div matRipple class="inner-detail small mat-elevation-z3">
          <div class="inner-key">
            <span>Width</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'weight' }}</span>
          </div>
        </div>

        <div matRipple (click)="showDetails(pokemon.species.data.color.data, 'color')" matTooltip="show more details" matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
          <div class="inner-key">
            <span>Color</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'species-color' }}</span>
          </div>
        </div>

        <div matRipple (click)="showDetails(pokemon.species.data.habitat.data, 'habitat')" matTooltip="show more details" matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
          <div class="inner-key">
            <span>Habitat</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'species-habitat' }}</span>
          </div>
        </div>

        <div matRipple (click)="showDetails(pokemon.species.data.shape.data, 'shape')" matTooltip="show more details" matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
          <div class="inner-key">
            <span>Shape</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'species-shape' }}</span>
          </div>
        </div>

        <div matRipple class="inner-detail small mat-elevation-z3">
          <div class="inner-key">
            <span>Baby</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'species-is-baby' }}</span>
          </div>
        </div>

        <div matRipple class="inner-detail small mat-elevation-z3">
          <div class="inner-key">
            <span>Base happiness</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'species-base-happiness' }}</span>
          </div>
        </div>

        <div matRipple class="inner-detail small mat-elevation-z3">
          <div class="inner-key">
            <span>Capture rate</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'species-capture-rate' }}</span>
          </div>
        </div>

        <div matRipple class="inner-detail small mat-elevation-z3">
          <div class="inner-key">
            <span>Base experience</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon?.base_experience }} pts.</span>
          </div>
        </div>

        <div matRipple (click)="showDetails(pokemon.species.data.growth_rate.data, 'growth-rate')" matTooltip="show more details" matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
          <div class="inner-key">
            <span>Growth rate</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'species-growth-rate' }}</span>
          </div>
        </div>

        <div matRipple class="inner-detail medium mat-elevation-z3">
          <div class="inner-key">
            <span>Gender ratio</span>
          </div>
          <div class="inner-value">
            <div>
              <span *ngIf="!(pokemon | pokemonDetails: 'species-genderless')">
                &#9794;
              </span>
              <span>{{ pokemon | pokemonDetails: 'species-gender-male' }}</span>
              <span *ngIf="!(pokemon | pokemonDetails: 'species-genderless')">
                /&nbsp;&#9792; {{ pokemon | pokemonDetails: 'species-gender-female' }}
              </span>
            </div>
          </div>
        </div>

        <div matRipple (click)="showDetails(pokemon.species.data.egg_groups, 'egg-groups')" matTooltip="show more details" matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
        <div class="inner-key">
            <span>Egg groups</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'species-egg-groups' }}</span>
          </div>
        </div>
        
        <div matRipple class="inner-detail medium mat-elevation-z3">
          <div class="inner-key">
            <span>Hatch counter</span>
          </div>
          <div class="inner-value">
            <span>{{ pokemon | pokemonDetails: 'species-hatch-counter' }}</span>
          </div>
        </div>
        
      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(2)" [matTooltip]="sections[2] ? 'Collapse' : 'Expand description'" matTooltipClass="poke-tooltip">
        <span>Stats</span>
        <mat-icon *ngIf="!sections[2]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[2]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value stats" *ngIf="sections[2]">
        <div matRipple class="stat" *ngFor="let stat of pokemon | pokemonDetails: 'stats'" (click)="showDetails(stat, 'stat')" matTooltip="show more details" matTooltipClass="poke-tooltip">
          <p>{{ stat?.name }}:</p>
          <mat-progress-bar [value]="stat?.value" [matTooltip]="stat?.base_stat" matTooltipClass="poke-tooltip"></mat-progress-bar>
        </div>
      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(3)" [matTooltip]="sections[3] ? 'Collapse' : 'Expand abilities'" matTooltipClass="poke-tooltip">
        <span>Abilities</span>
        <mat-icon *ngIf="!sections[3]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[3]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value" *ngIf="sections[3]">
        <span class="description">Abilities provide passive effects for Pokémon in battle or in the over world. Pokémon have multiple possible abilities but can have only one ability at a time.</span>
        <mat-divider></mat-divider>
        <div matRipple matTooltip="show more details" matTooltipClass="poke-tooltip" class="inner-detail mat-elevation-z3" *ngFor="let ability of pokemon?.abilities; let isLast = last" [ngStyle]="{ 'margin-bottom': isLast ? '8px' : '16px', 'cursor': 'pointer' }" (click)="showDetails(ability, 'ability')">
          <div class="inner-key">
            <span>{{ ability | pokemonDetails: 'ability-name' }}</span>
          </div>
          <div class="inner-value">
            <span>{{ ability | pokemonDetails: 'ability-description' }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(4)" [matTooltip]="sections[4] ? 'Collapse' : 'Expand types'" matTooltipClass="poke-tooltip">
      <span>Types</span>
        <mat-icon *ngIf="!sections[4]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[4]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value" *ngIf="sections[4]">
        <span class="description">Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.</span>
        <mat-divider></mat-divider>

        <div class="inner-detail mat-elevation-z3">
          <div class="inner-key">
            <span><strong>Double damage from</strong></span>
            <mat-divider></mat-divider>
            <span>A list of types that are very effective against this pokémon.</span>
          </div>
          <div class="inner-value">
            <p *ngIf="(pokemon?.types | pokemonDetails: 'type-double_damage_from').length === 0">
              No type available.
            </p>
            <mat-chip-list>
              <mat-chip 
                class="mat-elevation-z3"
                *ngFor="let type of pokemon?.types | pokemonDetails: 'type-double_damage_from'"
                (click)="showDetails(type?.data, 'type')"
                [ngStyle]="{ 'background': type | pokemonDetails: 'typ-damage-relation' | typeColor: 'light' }">
                <span>{{ type | pokemonDetails: 'typ-damage-relation' }}</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="inner-detail mat-elevation-z3">
          <div class="inner-key">
            <span><strong>Double damage to</strong></span>
            <mat-divider></mat-divider>
            <span>A list of types this pokémon is very effect against.</span>
          </div>
          <div class="inner-value">
            <p *ngIf="(pokemon?.types | pokemonDetails: 'type-double_damage_to').length === 0">
              No type available.
            </p>
            <mat-chip-list>
              <mat-chip 
                class="mat-elevation-z3"
                *ngFor="let type of pokemon?.types | pokemonDetails: 'type-double_damage_to'"
                (click)="showDetails(type?.data, 'type')"
                [ngStyle]="{ 'background': type | pokemonDetails: 'typ-damage-relation' | typeColor: 'light' }">
                <span>{{ type | pokemonDetails: 'typ-damage-relation' }}</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="inner-detail mat-elevation-z3">
          <div class="inner-key">
            <span><strong>Half damage from</strong></span>
            <mat-divider></mat-divider>
            <span>A list of types that are not very effective against this pokémon.</span>
          </div>
          <div class="inner-value">
            <p *ngIf="(pokemon?.types | pokemonDetails: 'type-half_damage_from').length === 0">
              No type available.
            </p>
            <mat-chip-list>
              <mat-chip 
                class="mat-elevation-z3"
                *ngFor="let type of pokemon?.types | pokemonDetails: 'type-half_damage_from'"
                (click)="showDetails(type?.data, 'type')"
                [ngStyle]="{ 'background': type | pokemonDetails: 'typ-damage-relation' | typeColor: 'light' }">
                <span>{{ type | pokemonDetails: 'typ-damage-relation' }}</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="inner-detail mat-elevation-z3">
          <div class="inner-key">
            <span><strong>Half damage to</strong></span>
            <mat-divider></mat-divider>
            <span>A list of types this pokémon is not very effect against.</span>
          </div>
          <div class="inner-value">
            <p *ngIf="(pokemon?.types | pokemonDetails: 'type-half_damage_to').length === 0">
              No type available.
            </p>
            <mat-chip-list>
              <mat-chip 
                class="mat-elevation-z3"
                *ngFor="let type of pokemon?.types | pokemonDetails: 'type-half_damage_to'"
                (click)="showDetails(type?.data, 'type')"
                [ngStyle]="{ 'background': type | pokemonDetails: 'typ-damage-relation' | typeColor: 'light' }">
                <span>{{ type | pokemonDetails: 'typ-damage-relation' }}</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="inner-detail mat-elevation-z3">
          <div class="inner-key">
            <span><strong>No damage from</strong></span>
            <mat-divider></mat-divider>
            <span>A list of types that have no effect on this pokémon.</span>
          </div>
          <div class="inner-value">
            <p *ngIf="(pokemon?.types | pokemonDetails: 'type-no_damage_from').length === 0">
              No type available.
            </p>
            <mat-chip-list>
              <mat-chip 
                class="mat-elevation-z3"
                *ngFor="let type of pokemon?.types | pokemonDetails: 'type-no_damage_from'"
                (click)="showDetails(type?.data, 'type')"
                [ngStyle]="{ 'background': type | pokemonDetails: 'typ-damage-relation' | typeColor: 'light' }">
                <span>{{ type | pokemonDetails: 'typ-damage-relation' }}</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="inner-detail mat-elevation-z3">
          <div class="inner-key">
            <span><strong>No damage to</strong></span>
            <mat-divider></mat-divider>
            <span>A list of types this pokémon has no effect on.</span>
          </div>
          <div class="inner-value">
            <p *ngIf="(pokemon?.types | pokemonDetails: 'type-no_damage_to').length === 0">
              No type available.
            </p>
            <mat-chip-list>
              <mat-chip 
                class="mat-elevation-z3"
                *ngFor="let type of pokemon?.types | pokemonDetails: 'type-no_damage_to'"
                (click)="showDetails(type?.data, 'type')"
                [ngStyle]="{ 'background': type | pokemonDetails: 'typ-damage-relation' | typeColor: 'light' }">
                <span>{{ type | pokemonDetails: 'typ-damage-relation' }}</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(5)" [matTooltip]="sections[5] ? 'Collapse' : 'Expand evolution'" matTooltipClass="poke-tooltip">
        <span>Evolution</span>
        <mat-icon *ngIf="!sections[5]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[5]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value evolution" *ngIf="sections[5]">

        <div class="pokemon" *ngIf="pokemon | pokemonDetails: 'evolution-1-next'">
          <div matRipple matTooltip="select pokémon" matTooltipClass="poke-tooltip" class="image" (click)="showDetails(pokemon.species.data.evolution_chain.data.first.id, 'pokemon')">
            <img 
              defaultImage="assets/images/berry-resize.png" 
              errorImage="assets/images/berry-resize.png"
              [lazyLoad]="pokemon | pokemonDetails: 'evolution-1-image'" 
              [alt]="pokemon | pokemonDetails: 'evolution-1-name'">
          </div>
          <p class="name">{{ pokemon | pokemonDetails: 'evolution-1-name' }}</p>
          <mat-icon 
            *ngIf="pokemon | pokemonDetails: 'evolution-1-arrow'"
            [ngStyle]="{ 
              'transform': !(pokemon | pokemonDetails: 'evolution-3-next') 
                ? 'translate(150px, -105px)' : 'translate(120px, -105px)'
            }">arrow_right_alt</mat-icon>
        </div>

        <div class="pokemon" *ngIf="pokemon | pokemonDetails: 'evolution-2-next'">
          <div matRipple matTooltip="select pokémon" matTooltipClass="poke-tooltip" class="image" (click)="showDetails(pokemon.species.data.evolution_chain.data.second.id, 'pokemon')">
            <img 
              defaultImage="assets/images/berry-resize.png" 
              errorImage="assets/images/berry-resize.png"
              [lazyLoad]="pokemon | pokemonDetails: 'evolution-2-image'" 
              [alt]="pokemon | pokemonDetails: 'evolution-2-name'">
          </div>
          <p class="name">{{ pokemon | pokemonDetails: 'evolution-2-name' }}</p>
          <mat-icon *ngIf="pokemon | pokemonDetails: 'evolution-2-arrow'">
            arrow_right_alt
          </mat-icon>
        </div>

        <div class="pokemon" *ngIf="pokemon | pokemonDetails: 'evolution-3-next'">
          <div matRipple matTooltip="select pokémon" matTooltipClass="poke-tooltip" class="image" (click)="showDetails(pokemon.species.data.evolution_chain.data.third.id, 'pokemon')">
            <img 
              defaultImage="assets/images/berry-resize.png" 
              errorImage="assets/images/berry-resize.png"
              [lazyLoad]="pokemon | pokemonDetails: 'evolution-3-image'" 
              [alt]="pokemon | pokemonDetails: 'evolution-3-name'">
          </div>
          <p class="name">{{ pokemon | pokemonDetails: 'evolution-3-name' }}</p>
          <mat-icon *ngIf="pokemon | pokemonDetails: 'evolution-3-arrow'">arrow_right_alt</mat-icon>
        </div>

      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(6)" [matTooltip]="sections[6] ? 'Collapse' : 'Expand varieties'" matTooltipClass="poke-tooltip">
        <span>Varieties</span>
        <mat-icon *ngIf="!sections[6]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[6]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value varieties" *ngIf="sections[6]">

        <div 
          class="inner-detail mat-elevation-z3" 
          matRipple
          matTooltip="select pokémon" 
          matTooltipClass="poke-tooltip" 
          *ngFor="let entry of pokemon | pokemonDetails: 'species-variations'"
          (click)="showDetails(entry?.id, 'pokemon')">
          <div class="inner-key">
            <span>{{ entry?.display }}</span>
          </div>
          <div class="inner-value">
            <img 
              defaultImage="assets/images/berry-resize.png" 
              errorImage="assets/images/berry-resize.png" 
              [lazyLoad]="entry | pokemonDetails: 'species-variation-sprite'" 
              [alt]="entry?.name">
          </div>
        </div>

      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(7)" [matTooltip]="sections[7] ? 'Collapse' : 'Expand sprites'" matTooltipClass="poke-tooltip">
        <span>Sprites</span>
        <mat-icon *ngIf="!sections[7]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[7]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value sprites" *ngIf="sections[7]">

        <div class="inner-detail mat-elevation-z3" *ngFor="let entry of pokemon | pokemonDetails: 'sprites'">
          <div class="inner-key">
            <span>{{ entry?.key }}</span>
          </div>
          <div class="inner-value">
            <img 
              defaultImage="assets/images/berry-resize.png" 
              errorImage="assets/images/berry-resize.png" 
              [lazyLoad]="entry?.value" 
              [alt]="entry?.key">
          </div>
        </div>

      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(8)" [matTooltip]="sections[8] ? 'Collapse' : 'Expand pokédex version entries'" matTooltipClass="poke-tooltip">
        <span>Pokédex version entries</span>
        <mat-icon *ngIf="!sections[8]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[8]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value" *ngIf="sections[8]">
        <span class="description">A list of pokedexes and the indexes reserved within them for this pokémon specie.</span>
        <mat-divider></mat-divider>
        <div class="inner-detail version-entries mat-elevation-z3" *ngFor="let entries of pokemon | pokemonDetails: 'species-pokedex-numbers'">
          <div class="inner-key">
            <span>{{ entries?.name }}</span>
          </div>
          <div class="inner-value">
            <span>{{ entries?.entry_number }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(9)" [matTooltip]="sections[9] ? 'Collapse' : 'Expand description entries'" matTooltipClass="poke-tooltip">
        <span>Description entries</span>
        <mat-icon *ngIf="!sections[9]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[9]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value" *ngIf="sections[9]">
        <div class="inner-detail mat-elevation-z3" *ngFor="let entries of pokemon | pokemonDetails: 'species-version-entries'">
          <div class="inner-key">
            <span>{{ entries | pokemonDetails: 'species-version-name' }}</span>
          </div>
          <div class="inner-value">
            <span>{{ entries | pokemonDetails: 'species-version-entry' }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="detail mat-elevation-z5">
      <div class="key" (click)="section(10)" [matTooltip]="sections[10] ? 'Collapse' : 'Expand moves'" matTooltipClass="poke-tooltip">
        <span>Moves</span>
        <mat-icon *ngIf="!sections[10]">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sections[10]">keyboard_arrow_up</mat-icon>
      </div>
      <div class="value" *ngIf="sections[10]">

        <div class="inner-detail mat-elevation-z3">
          <div class="inner-key expansion" (click)="section(0, false)" [matTooltip]="subSections[0] ? 'Collapse' : 'Expand physical moves'" matTooltipClass="poke-tooltip">
            <span>Physical</span>
            <mat-icon *ngIf="!subSections[0]">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="subSections[0]">keyboard_arrow_up</mat-icon>
          </div>
          <div class="inner-value" *ngIf="subSections[0]">
            <mat-chip-list>
              <mat-chip 
                class="mat-elevation-z3"
                *ngFor="let move of moves?.physical | pokemonDetails: 'moves': pokemon?.moves"
                (click)="showDetails(move?.data, 'move')"
                [ngStyle]="{ 'background': move?.color }">
                <span>{{ move?.name }}</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="inner-detail mat-elevation-z3">
          <div class="inner-key expansion" (click)="section(1, false)" [matTooltip]="subSections[1] ? 'Collapse' : 'Expand special moves'" matTooltipClass="poke-tooltip">
            <span>Special</span>
            <mat-icon *ngIf="!subSections[1]">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="subSections[1]">keyboard_arrow_up</mat-icon>
          </div>
          <div class="inner-value" *ngIf="subSections[1]">
            <mat-chip-list>
              <mat-chip 
                class="mat-elevation-z3"
                *ngFor="let move of moves?.special | pokemonDetails: 'moves': pokemon?.moves"
                (click)="showDetails(move?.data, 'move')"
                [ngStyle]="{ 'background': move?.color }">
                <span>{{ move?.name }}</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="inner-detail mat-elevation-z3">
          <div class="inner-key expansion" (click)="section(2, false)" [matTooltip]="subSections[2] ? 'Collapse' : 'Expand status moves'" matTooltipClass="poke-tooltip">
            <span>Status</span>
            <mat-icon *ngIf="!subSections[2]">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="subSections[2]">keyboard_arrow_up</mat-icon>
          </div>
          <div class="inner-value" *ngIf="subSections[2]">
            <mat-chip-list>
              <mat-chip 
                class="mat-elevation-z3"
                *ngFor="let move of moves?.status | pokemonDetails: 'moves': pokemon?.moves"
                (click)="showDetails(move?.data, 'move')"
                [ngStyle]="{ 'background': move?.color }">
                <span>{{ move?.name }}</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

      </div>
    </div>

    <div class="credits">
      <p class="app">Pokédex Little</p>
      <p class="developer">by ElecTreeFrying</p>
    </div>

  </div>

</div>
