#wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;

  .mat-card {
    width: 200px;
    height: 239px;
    margin: 7.5px 7.5px;
    cursor: pointer;

    #name {
      cursor: default;
      text-align: center;
      font-family: 'Bai Jamjuree', sans-serif;
      font-weight: 600;
      margin-top: 15px;
    }

    img {
      width: 168px;
      pointer-events: none;
    }

  }


}
