
<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened>

    <div data-simplebar>

      <h3 matRipple>Meta Pokédex</h3>
      <mat-divider></mat-divider>

      <mat-accordion displayMode="flat">

        <mat-expansion-panel expanded>
          <mat-expansion-panel-header matRipple>Pokémon Generation</mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div id="panel-content">
              <mat-expansion-panel matRipple hideToggle="true" disabled
                *ngFor="let item of generation; let i = index" (mousedown)="getPokemonByGeneration(i)">
                <mat-expansion-panel-header>Generation {{ i + 1 }} - {{ item }}</mat-expansion-panel-header>
              </mat-expansion-panel>
            </div>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header matRipple>Pokédex Version</mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div id="panel-content">
              <mat-expansion-panel matRipple hideToggle="true" disabled
              *ngFor="let item of pokedex; let i = index; first as isFirst" (mousedown)="getPokemonByPokedex(i)">
                <mat-expansion-panel-header *ngIf="isFirst">{{ item }}</mat-expansion-panel-header>
                <mat-expansion-panel-header *ngIf="!isFirst">{{ item }}</mat-expansion-panel-header>
              </mat-expansion-panel>
            </div>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel matRipple hideToggle="true" disabled>
          <mat-expansion-panel-header>Berries</mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel matRipple hideToggle="true" disabled>
          <mat-expansion-panel-header>Contests</mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel matRipple hideToggle="true" disabled>
          <mat-expansion-panel-header>Items</mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel matRipple hideToggle="true" disabled>
          <mat-expansion-panel-header>Locations</mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel matRipple hideToggle="true" disabled>
          <mat-expansion-panel-header>Moves</mat-expansion-panel-header>
        </mat-expansion-panel>

      </mat-accordion>
    </div>

  </mat-sidenav>

  <mat-sidenav #pokemon mode="side" position="end">
    <h3 matRipple>{{ pokemonName }}</h3>
    <mat-divider></mat-divider>
    <app-pokemon-nav *ngIf="isOpened"></app-pokemon-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="wrapper" *ngIf="platform.isBrowser">

      <mat-toolbar color="primary">
        <button mat-icon-button (click)="pokemon.opened ? toggle() : sidenav.toggle()">
          <mat-icon>reorder</mat-icon>
        </button>
        <span>Meta Pokédex</span>
        <button mat-icon-button (click)="searchPokemon()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-toolbar>

      <div id="content" data-simplebar>

        <div id="spinner" *ngIf="!isLoaded">
          <mat-progress-spinner mode="indeterminate" [color]="'warn'"></mat-progress-spinner>
        </div>

        <router-outlet (activate)="onActivate()"></router-outlet>

      </div>

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<ng-snotify></ng-snotify>
