$icon-size: 35px;

#wrapper {

  .wrap > .mat-toolbar {

    .mat-icon {
      height: $icon-size;
      width: $icon-size;
      cursor: pointer;
    }

    span {
      margin-left: 12px;
      cursor: pointer;
    }

  }




}
