
<mat-toolbar class="mat-elevation-z5" #toolbar>

  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
    <mat-icon *ngIf="drawer.opened">menu_open</mat-icon>
  </button>

  <span routerLink="/">Pokédex Little</span>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav class="mat-elevation-z10" mode="side" opened data-simplebar #drawer>

    <app-drawer (navigated)="drawer.close()"></app-drawer>
    
  </mat-sidenav>
  
  <mat-sidenav-content keyboard (toggle)="drawer.toggle()" #drawerContent>
    
    <div id="router" [ngStyle]="routerStyle" data-simplebar>
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
