
<mat-toolbar class="mat-elevation-z5" #toolbar>

  <button mat-icon-button (click)="sidenavToggle(true)">
    <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
    <mat-icon *ngIf="drawer.opened">menu_open</mat-icon>
  </button>

  <button mat-button routerLink="/">Pokédex Little</button>

  <button mat-button class="option" routerLink="/" (click)="sidenavToggle(false)">Home</button>
  <button mat-button class="option" routerLink="/" (click)="sidenavToggle(false)">About</button>
  <button mat-button class="option" routerLink="/" (click)="sidenavToggle(false)">Search</button>

  <button mat-icon-button (click)="openSearch()" *ngIf="!(shared.hideLoadMore | async)">
    <mat-icon>search</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav class="mat-elevation-z10" position="start" mode="side" data-simplebar opened #drawer>

    <app-drawer></app-drawer>
    
  </mat-sidenav>

  <mat-sidenav class="mat-elevation-z10" position="end" mode="side" data-simplebar #details
    (openedChange)="$event?toggleDetails(true):toggleDetails(false)"
    (openedStart)="shared.updateLoadMorePositionSelection = true"
    (closedStart)="shared.updateLoadMorePositionSelection = false"
    [ngStyle]="{ 'top': toolbarHeight + 'px !important' }">

    <div class="close">
      <button mat-icon-button (click)="sidenavToggle(false)">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="spinner" *ngIf="!isShowDetails">
      <mat-spinner></mat-spinner>
    </div>

    <app-pokemon *ngIf="isShowDetails && (shared.isPokemonSelected|async)" (loaded)="attachOverlay = $event"></app-pokemon>
    <app-move *ngIf="isShowDetails && (shared.isMoveSelected|async)" (loaded)="attachOverlay = $event"></app-move>
    <app-item *ngIf="isShowDetails && (shared.isItemSelected|async)" (loaded)="attachOverlay = $event"></app-item>
    <app-berry *ngIf="isShowDetails && (shared.isBerrySelected|async)" (loaded)="attachOverlay = $event"></app-berry>
    <app-location *ngIf="isShowDetails && (shared.isLocationSelected|async)" (loaded)="attachOverlay = $event"></app-location>

  </mat-sidenav>

  <mat-sidenav-content keyboard (toggle)="sidenavToggle($event)">
    
    <div id="router" [ngStyle]="routerStyle" data-simplebar #drawerContent>
      <router-outlet></router-outlet>
      <div class="loading" *ngIf="shared?.isLoading | async">
        <app-loading (opened)="loadingIsOpened($event)"></app-loading>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

<div class="mat-elevation-z24 load-more" matRipple #loadMore [transitionEvent]="loadMore" (trigger)="attachOverlay = $event" (click)="toggleEntries()" 
  [ngStyle]="{ 'width': (shared.loadedAll | async) ? '81px + 8px + 32px' : '181px + 8px + 32px' }">
  <mat-icon>cached</mat-icon>
  <span *ngIf="(shared.loadedAll | async)">Refresh</span>
  <span *ngIf="!(shared.loadedAll | async)">Load all entries</span>
</div>

<ng-snotify></ng-snotify>
