$icon-size: 35px;

.mat-fab {
  position: absolute;
  z-index: 10;
  bottom: 0;
  margin: 2vh 2vw;
  
  transition: left 1s, right 2s;
}

.mat-sidenav {

  > div {
    height: 92.8vh;
    overflow-y: auto;
  }

  h3 {
    margin: 0;
    padding: 15px;
    cursor: pointer;
  }

  .mat-expansion-panel {
    width: 300px;

    .mat-expansion-panel-header {
      color: white;
      // color: black;
    }
  }

  #panel-content {
    margin-left: -24px;
    margin-bottom: -16px;
    .mat-expansion-panel-header {
      // padding-left: 31.5px;
      padding-left: 38px;
    }
  }

}

.mat-sidenav-container {
  #wrapper {

    > .mat-toolbar {
      position: absolute;
      z-index: 5;

      span {
        cursor: pointer;
        margin-right: auto;
      }
    }

    #content {
      height: 100vh;
      overflow-y: auto;

      #spinner {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .mat-progress-spinner {
          width: 500px;
          margin: auto;
        }
      }
    }

  }
}
