
<mat-accordion displayMode="flat" multi="true">

  <!-- games -->
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Pokémon</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel class="inner">
          <mat-expansion-panel-header>
            <mat-panel-title><span>Pokédex</span></mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
      
            <mat-action-list>
              <button 
                mat-list-item 
                *ngFor="let item of pokedex"
                (click)="go(item, 'pokedex')">
                <mat-icon>arrow_right</mat-icon>
                <span class="nav">{{ item?.name }}</span>
              </button>
            </mat-action-list>
      
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel class="inner">
          <mat-expansion-panel-header>
            <mat-panel-title><span>Generation</span></mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
      
            <mat-action-list>
              <button 
                mat-list-item 
                *ngFor="let item of generation"
                (click)="go(item, 'generation')">
                <mat-icon>arrow_right</mat-icon>
                <span class="nav">{{ item?.name }}</span>
              </button>
            </mat-action-list>
      
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel class="inner">
          <mat-expansion-panel-header>
            <mat-panel-title><span>Version group</span></mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
      
            <mat-action-list>
              <button 
                mat-list-item 
                *ngFor="let item of versionGroup"
                (click)="go(item, 'version-group')">
                <mat-icon>arrow_right</mat-icon>
                <span class="nav">{{ item?.name }}</span>
              </button>
            </mat-action-list>
      
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel class="inner last" hideToggle #types (click)="types.close()">
          <mat-expansion-panel-header (click)="selection('pokemon', 'type')">
            <mat-panel-title><span>Pokémon types</span></mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </mat-expansion-panel>

  <!-- items -->
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Items</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel class="inner">
          <mat-expansion-panel-header>
            <mat-panel-title><span>Attributes</span></mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
      
            <mat-action-list class="inner">
              <button 
                mat-list-item 
                *ngFor="let item of items"
                (click)="go(item, 'items')">
                <mat-icon>arrow_right</mat-icon>
                <span class="nav">{{ item?.name }}</span>
              </button>
            </mat-action-list>
      
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel class="inner" hideToggle #categories (click)="categories.close()">
          <mat-expansion-panel-header (click)="selection('items', 'categories')">
            <mat-panel-title><span>Categories</span></mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel class="inner last" hideToggle #berries (click)="berries.close()">
          <mat-expansion-panel-header (click)="selection('items', 'berries')">
            <mat-panel-title><span>Berries</span></mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </mat-expansion-panel>

  <!-- others -->
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Others</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-accordion displayMode="flat">
        <mat-expansion-panel class="inner">
          <mat-expansion-panel-header>
            <mat-panel-title><span>Moves</span></mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
      
            <mat-action-list>
              <button 
                mat-list-item 
                *ngFor="let item of moves"
                (click)="selection('move', item?.name)">
                <mat-icon>arrow_right</mat-icon>
                <span class="nav">{{ item?.name }}</span>
              </button>
            </mat-action-list>
      
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel class="inner">
          <mat-expansion-panel-header>
            <mat-panel-title><span>Machines</span></mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
      
            <mat-action-list>
              <button 
                mat-list-item 
                *ngFor="let item of machineVersionGroup"
                (click)="selection('machine', item)">
                <mat-icon>arrow_right</mat-icon>
                <span class="nav">{{ item?.name }}</span>
              </button>
            </mat-action-list>
      
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel class="inner last">
          <mat-expansion-panel-header>
            <mat-panel-title><span>Region</span></mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>

            <mat-action-list>
              <button 
                mat-list-item 
                *ngFor="let item of region"
                (click)="selection('region', item)">
                <mat-icon>arrow_right</mat-icon>
                <span class="nav">{{ item?.name }}</span>
              </button>
            </mat-action-list>

          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </mat-expansion-panel>

</mat-accordion>
