
<div class="wrap">

  <div class="card-content">
    <div matRipple *ngFor="let entry of entries; trackBy: trackByID">
      <mat-card (click)="select(entry)">

        <div *ngIf="route['isItems'] || route['isCategory']; then thenBlock else elseBlock"></div>
        
        <ng-template #thenBlock>
          <div class="image">
            <img 
              mat-card-image 
              offset="300"
              defaultImage="assets/images/berry.png" 
              errorImage="assets/images/berry.png" 
              [lazyLoad]="entry?.byte64 | idToImage: 'byte64'" 
              [alt]="entry?.name">
          </div>
        </ng-template>
        
        <ng-template #elseBlock>
          <img *ngIf="route['isGames']"
          mat-card-image 
          offset="300"
          defaultImage="assets/images/berry.png" 
          errorImage="assets/images/berry.png" 
          [lazyLoad]="entry?.byte64 | idToImage: 'byte64'" 
          [alt]="entry?.name">
        </ng-template>

        <mat-card-content>
          <p>{{ entry?.name | cardText }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
