

.wrap {
  min-height: calc(100vh - 64px - 170px - 60px + 30px);

  .header-content {
    background-color: #530034;
    margin: -30px -45px 30px -45px;
    height: 150px;
    padding: 50px;
    position: sticky;
    z-index: 100;
    top: 0;

    p {
      font-family: 'Cairo', 'Cairo-SemiBold';
    }

    &.expanded {
      transition: 0.3s ease all;

      p {
        font-size: 3em;
        color: white;
        transition: 0.3s ease all;
      }
    }
    
    &.collapsed {
      height: 55px;
      display: flex;
      transition: 0.3s ease all;
      padding: 0;
      
      p {
        font-size: 1.7em;
        color: white;
        margin: auto 0 auto 24px;
        transition: 0.3s ease all;
      }
    }
  }
}

.footer {
  position: static;
  bottom: 0;
}

.card-content {
  display: flex;
  flex-flow: row wrap;

  justify-content: center;

  .mat-ripple {
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;

    .entry-number {
      position: absolute;
      z-index: 100;
      margin: 8px 0 0 10px;

      span {
        font-size: 1.2em;
      }
    }

    .text-container {
      height: 40px;
      display: flex;
    }

    p {
      margin: auto;
      font-family: 'Poppins', 'Poppins-Regular';
      font-size: 1.15em;
      text-align: center;
    }
  }

  .mat-card {
    width: 150px;
    height: 202px;
    height: 222px;
    background-color: #4E1338;
    color: white;

    .image {
      height: 150px;
      width: 150px;
      margin: -16px -16px 16px -16px;
      display: flex;

      .mat-card-image {
        height: auto;
        width: auto;
        margin: auto;
      }
    }

    .conquest-gallery {
      margin: 0 -16px;
      width: 150px;
      height: 150px;
      display: flex;

      img {
        margin: auto;
        width: 120px;
      }
    }

    .load-more {
      height: calc(100% - 36px);

      .mat-icon {
        position: absolute;
        font-size: 80px;
        margin-left: 20px;
        margin-top: 20px;
      }
    }
    
  }
}

