
<div class="wrap">

  <div class="card-content">
    <div matRipple class="mat-elevation-z5" *ngFor="let entry of entries; let i = index; trackBy: trackByID">

      <div class="entry-number" *ngIf="!(route['isItems'] || route['isCategory'])">
        <span *ngIf="!route['entry_sort_id']">#{{ i + 1 }}</span>
        <span *ngIf="route['entry_sort_id']">#{{ entry?.id }}</span>
      </div>

      <mat-card (click)="select(entry)">

        <div *ngIf="route['isItems'] || route['isCategory']; then thenBlock else elseBlock"></div>
        
        <ng-template #thenBlock>
          <div class="image">
            <img 
              mat-card-image 
              offset="300"
              defaultImage="assets/images/berry.png" 
              errorImage="assets/images/berry.png" 
              [lazyLoad]="entry?.byte64 | idToImage: 'byte64'" 
              [alt]="entry?.name">
          </div>
        </ng-template>
        
        <ng-template #elseBlock>
          <img *ngIf="!route['conquest_gallery']"
            mat-card-image 
            offset="300"
            defaultImage="assets/images/berry.png" 
            errorImage="assets/images/berry.png" 
            [lazyLoad]="entry?.byte64 | idToImage: 'byte64'" 
            [alt]="entry?.name">
          <div class="conquest-gallery" *ngIf="route['conquest_gallery']">
            <img 
              mat-card-image 
              offset="300"
              defaultImage="assets/images/berry.png" 
              errorImage="assets/images/berry.png" 
              [lazyLoad]="entry | idToImage: 'conquest-gallery'" 
              [alt]="entry?.name">
          </div>
          </ng-template>

        <mat-card-content class="text-container">
          <p>{{ entry?.name | cardText }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
