
<button mat-raised-button class="refresh" (click)="refreshed.next(true)">
  <span>Refresh</span>
  <mat-icon>refresh</mat-icon>
</button>

<mat-divider></mat-divider>

<div class="loading-progress" *ngIf="!option.selectionList_1.state">

  <mat-spinner></mat-spinner>

</div>

<mat-accordion displayMode="flat" *ngIf="option.selectionList_1.state">

  <mat-expansion-panel 
    *ngFor="let item of options.selectionList_1" 
    (opened)="toggle(true, 'selectionList_1', item?.option)" 
    (closed)="toggle(false, 'selectionList_1', item?.option)">
    <mat-expansion-panel-header>
      <mat-panel-title><span>{{ item.display }}</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_1.selections[item.option]">
        <input 
          matInput 
          [placeholder]="'Select ' + item.placeholder" 
          [matAutocomplete]="auto" 
          [(ngModel)]="option.selectionList_1.input" 
          (ngModelChange)="modelChangedSelection($event, 'selectionList_1', item.option)" 
          (keydown.enter)="enter(item.option)">
        <mat-autocomplete 
          #auto="matAutocomplete" 
          (opened)="focus('selectionList_1', item.option)" 
          (closed)="selections.selectionList_1[item.option] = _selections">
          <mat-option 
            *ngFor="let x of selections.selectionList_1[item.option]" 
            [value]="x.name" 
            (click)="entries.next(x.data.pokemon_species)">{{ x.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <p class="loading"*ngIf="!option.selectionList_1.selections[item.option]">Please wait...</p>

    </ng-template>
  </mat-expansion-panel>

</mat-accordion>

<mat-divider></mat-divider>

<div class="loading-progress" *ngIf="!option.selectionList_2.state">

  <mat-spinner></mat-spinner>

</div>

<mat-accordion displayMode="flat" *ngIf="option.selectionList_2.state">
  
  <mat-expansion-panel 
    *ngFor="let item of options.selectionList_2"
    (opened)="toggle(true, 'selectionList_2', item?.option)" 
    (closed)="toggle(false, 'selectionList_2', item?.option)">
    <mat-expansion-panel-header>
      <mat-panel-title><span>{{ item.display }}</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

      <p>{{ item.description }}</p>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_2.selections[item.option]">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="option.selectionList_2.input" (valueChange)="selectionChange($event, 'selectionList_2', item.option)">
          <mat-option value="1">true</mat-option>
          <mat-option value="0">false</mat-option>
        </mat-select>
      </mat-form-field>

      <p class="loading"*ngIf="!option.selectionList_2.selections[item.option]">Please wait...</p>


    </ng-template>
  </mat-expansion-panel>

</mat-accordion>

<mat-divider></mat-divider>

<div class="loading-progress" *ngIf="!option.selectionList_3.state">

  <mat-spinner></mat-spinner>

</div>

<mat-divider></mat-divider>

<mat-accordion displayMode="flat" *ngIf="option.selectionList_3.state">

  <mat-expansion-panel 
    *ngFor="let item of options.selectionList_3"
    (opened)="toggle(true, 'selectionList_3', item?.option)" 
    (closed)="toggle(false, 'selectionList_3', item?.option)">
    <mat-expansion-panel-header>
      <mat-panel-title><span>{{ item.display }}</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

      <p>{{ item.description }}</p>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_3.selections[item.option]">
        <mat-label>{{ selections.selectionList_3[item.option] | search: 'spn-placeholder' }}</mat-label>
        <input 
          #numberModel="ngModel"
          #numberModelEx
          matInput
          type="number"
          autocomplete="off"
          minMaxValidator 
          [min-]="selections.selectionList_3[item.option].meta.min" 
          [max-]="selections.selectionList_3[item.option].meta.max"
          [type]="item.option"
          [(ngModel)]="option.selectionList_3.input"
          (ngModelChange)="modelChangedSelection($event, 'selectionList_3', item.option, numberModel)" 
          (keydown.enter)="searchNumber(item.option, numberModel)">
      </mat-form-field>

      <div class="text-below">
        <p *ngIf="option.selectionList_3.selections[item.option]">Press enter to search</p>
        <p><strong>{{ option.selectionList_3.input | search: 'spn-input-display': option.selectionList_3.invalid: item.option }}</strong></p>
      </div>

      <p class="loading"*ngIf="!option.selectionList_3.selections[item.option]">Please wait...</p>

    </ng-template>
  </mat-expansion-panel>

</mat-accordion>

<mat-divider></mat-divider>

<mat-accordion displayMode="flat">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Moves</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>

<mat-accordion displayMode="flat">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Pokemon forms</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Pal park encounters</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>

<mat-accordion displayMode="flat">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Pokedex numbers</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Stats</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
