
<button mat-raised-button class="refresh" (click)="refreshed.next(true);shared.updateHideSearchSelection = true">
  <span>Refresh</span>
  <mat-icon>refresh</mat-icon>
</button>

<mat-divider></mat-divider>

<div class="loading-progress" *ngIf="!option.selectionList_1.state">

  <mat-spinner></mat-spinner>

</div>

<mat-accordion displayMode="flat" *ngIf="option.selectionList_1.state">

  <mat-expansion-panel 
    *ngFor="let item of options.selectionList_1" 
    (opened)="toggle(true, 'selectionList_1', item?.option)" 
    (closed)="toggle(false, 'selectionList_1', item?.option)">
    <mat-expansion-panel-header>
      <mat-panel-title><span>{{ item.display }}</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

      <p *ngIf="option.selectionList_1.selections[item.option]">{{ item.description }}</p>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_1.selections[item.option]">
        <input 
          matInput 
          [placeholder]="'Select ' + item.placeholder" 
          [matAutocomplete]="auto" 
          [(ngModel)]="option.selectionList_1.input" 
          (ngModelChange)="modelChangedSelection($event, 'selectionList_1', item.option)">
        <mat-autocomplete 
          #auto="matAutocomplete" 
          (opened)="refreshSelectionList('selectionList_1', item.option)" 
          (closed)="selections.selectionList_1[item.option] = _selections"
          (optionSelected)="autoCompleteSelection($event, 'selectionList_1', item.option)">
          <mat-option 
            *ngFor="let x of selections.selectionList_1[item.option]" 
            [value]="x.name" 
            (click)="entries.next(x.data.pokemon_species)">{{ x.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <p *ngIf="option.selectionList_1.selections[item.option]">Press enter to search</p>

      <p class="loading"*ngIf="!option.selectionList_1.selections[item.option]">Please wait...</p>

    </ng-template>
  </mat-expansion-panel>

</mat-accordion>

<mat-divider></mat-divider>

<div class="loading-progress" *ngIf="!option.selectionList_2.state">

  <mat-spinner></mat-spinner>

</div>

<mat-accordion displayMode="flat" *ngIf="option.selectionList_2.state">
  
  <mat-expansion-panel 
    *ngFor="let item of options.selectionList_2"
    (opened)="toggle(true, 'selectionList_2', item?.option)" 
    (closed)="toggle(false, 'selectionList_2', item?.option)">
    <mat-expansion-panel-header>
      <mat-panel-title><span>{{ item.display }}</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

      <p *ngIf="option.selectionList_2.selections[item.option]">{{ item.description }}</p>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_2.selections[item.option]">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="option.selectionList_2.input" (valueChange)="selectionChange($event, 'selectionList_2', item.option)">
          <mat-option value="1">true</mat-option>
          <mat-option value="0">false</mat-option>
        </mat-select>
      </mat-form-field>

      <p class="loading"*ngIf="!option.selectionList_2.selections[item.option]">Please wait...</p>


    </ng-template>
  </mat-expansion-panel>

</mat-accordion>

<mat-divider></mat-divider>

<div class="loading-progress" *ngIf="!option.selectionList_3.state">

  <mat-spinner></mat-spinner>

</div>

<mat-accordion displayMode="flat" *ngIf="option.selectionList_3.state">

  <mat-expansion-panel 
    *ngFor="let item of options.selectionList_3"
    (opened)="toggle(true, 'selectionList_3', item?.option)" 
    (closed)="toggle(false, 'selectionList_3', item?.option)">
    <mat-expansion-panel-header>
      <mat-panel-title><span>{{ item.display }}</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

      <p *ngIf="option.selectionList_3.selections[item.option]">{{ item.description }}</p>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_3.selections[item.option]">
        <mat-label>{{ selections.selectionList_3[item.option] | search: 'spn-placeholder' }}</mat-label>
        <input 
          #numberModel="ngModel"
          #numberModelEx
          matInput
          type="number"
          autocomplete="off"
          minMaxValidator 
          [min-]="selections.selectionList_3[item.option].meta?.min" 
          [max-]="selections.selectionList_3[item.option].meta?.max"
          [type]="item.option"
          [(ngModel)]="option.selectionList_3.input"
          (ngModelChange)="modelChangedSelection($event, 'selectionList_3', item.option, numberModel)" 
          (keydown.enter)="searchNumber('selectionList_3', item.option, '', numberModel)">
      </mat-form-field>

      <div class="text-below" *ngIf="option.selectionList_3.selections[item.option]">
        <p>Press enter to search</p>
        <p><strong>{{ option.selectionList_3.input | search: 'spn-input-display': option.selectionList_3.invalid: item.option }}</strong></p>
      </div>

      <p class="loading"*ngIf="!option.selectionList_3.selections[item.option]">Please wait...</p>

    </ng-template>
  </mat-expansion-panel>

</mat-accordion>

<mat-divider></mat-divider>

<div class="loading-progress" *ngIf="!option.selectionList_4.state">

  <mat-spinner></mat-spinner>

</div>

<mat-accordion displayMode="flat" *ngIf="option.selectionList_4.state">
  
  <mat-expansion-panel
    (opened)="toggle(true, 'selectionList_4', 'moves')" 
    (closed)="toggle(false, 'selectionList_4', 'moves')">
    <mat-expansion-panel-header>
      <mat-panel-title><span>Moves</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

      <p *ngIf="option.selectionList_4.selections['moves']">Moves are the skills of pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.</p>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_4.selections['moves']">
        <input 
          matInput 
          placeholder="Select" 
          [matAutocomplete]="autoMove" 
          [(ngModel)]="option.selectionList_4.input"
          (ngModelChange)="modelChangedSelection($event, 'selectionList_4', 'moves')">
        <mat-autocomplete 
          #autoMove="matAutocomplete"
          (opened)="refreshSelectionList('selectionList_4', 'moves')" 
          (closed)="selections.selectionList_1['moves'] = _selections">

            <mat-optgroup 
              *ngFor="let group of selections.selectionList_4['moves']" 
              [label]="group.name">
              <mat-option
                *ngFor="let move of group.moves" 
                [value]="move | search: 'spn-move-name'" 
                (click)="searchMove(move.name)">
                <span [ngStyle]="{ 'color': move.type | search: 'type-color' }"><strong>({{ move.type }})</strong></span> {{ move | search: 'spn-move-name' }}
              </mat-option>
            </mat-optgroup>

        </mat-autocomplete>
      </mat-form-field>

      <p *ngIf="option.selectionList_4.selections['moves']">Press enter to search</p>

      <p class="loading"*ngIf="!option.selectionList_4.selections['moves']">Please wait...</p>

    </ng-template>
  </mat-expansion-panel>

</mat-accordion>

<mat-divider></mat-divider>

<div class="loading-progress" *ngIf="!option.selectionList_5.state">

  <mat-spinner></mat-spinner>

</div>

<mat-accordion displayMode="flat" *ngIf="option.selectionList_5.state">
  
  <mat-expansion-panel
    *ngFor="let item of options.selectionList_5"
    (opened)="toggle(true, 'selectionList_5', item.option)" 
    (closed)="toggle(false, 'selectionList_5', item.option)">
    <mat-expansion-panel-header>
      <mat-panel-title><span>{{ item.display }}</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

      <p *ngIf="option.selectionList_5.selections[item.option]">{{ item.description }}</p>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_5.selections[item.option]">
        <input 
          matInput 
          placeholder="Select" 
          [matAutocomplete]="auto" 
          [(ngModel)]="option.selectionList_5.input" 
          (ngModelChange)="modelChangedSelection($event, 'selectionList_5', item.option)">
        <mat-autocomplete 
          #auto="matAutocomplete" 
          (opened)="refreshSelectionList('selectionList_5', item.option)" 
          (closed)="selections.selectionList_5[item.option] = _selections"
          (optionSelected)="autoCompleteSelection($event, 'selectionList_5', item.option)">
          <mat-option 
            *ngFor="let x of selections.selectionList_5[item.option]" 
            [value]="x.name" 
            (click)="entries.next(item.option === 'forms' ? x.forms : x.encounters)">{{ x.name | titlecase }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <p *ngIf="option.selectionList_5.selections[item.option]">Press enter to search</p>

      <p class="loading"*ngIf="!option.selectionList_5.selections[item.option]">Please wait...</p>

    </ng-template>
  </mat-expansion-panel>

</mat-accordion>

<mat-divider></mat-divider>

<div class="loading-progress" *ngIf="!option.selectionList_6.state">

  <mat-spinner></mat-spinner>

</div>

<mat-accordion displayMode="flat" *ngIf="option.selectionList_6.state">

  <mat-expansion-panel
    *ngFor="let item of options.selectionList_6"
    (opened)="toggle(true, 'selectionList_6', item.option)" 
    (closed)="toggle(false, 'selectionList_6', item.option)">
    <mat-expansion-panel-header>
      <mat-panel-title><span>{{ item.display }}</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>

      <p *ngIf="option.selectionList_6.selections[item.option]">{{ item.description }}</p>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_6.selections[item.option]">
        <mat-label>{{ item.label1 }}</mat-label>
        <mat-select [(ngModel)]="option.selectionList_6.input1" (selectionChange)="option.selectionList_6.input2 = ''">
          <mat-option *ngFor="let item of selections.selectionList_6[item.option]" [value]="item | lowercase | search: 'spn-selectionList_6'">{{ item }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="option.selectionList_6.selections[item.option]">

        <mat-label *ngIf="option.selectionList_6.input1 === ''">-</mat-label>
        <mat-label *ngIf="option.selectionList_6.input1 !== ''">{{ '(' + selections.selectionList_6?.meta[item.option][option.selectionList_6.input1]?.min }}{{ ' - *' + selections.selectionList_6?.meta[item.option][option.selectionList_6.input1]?.max + ')' }}</mat-label>

        <input 
          #lastModel="ngModel"
          matInput
          type="number"
          autocomplete="off"
          minMaxValidator 
          [min-]="selections.selectionList_6?.meta[item.option][option.selectionList_6.input1]?.min" 
          [max-]="selections.selectionList_6?.meta[item.option][option.selectionList_6.input1]?.max"
          [type]="item.option"
          [disabled]="option.selectionList_6.input1 === ''"
          [(ngModel)]="option.selectionList_6.input2"
          (ngModelChange)="modelChangedSelection($event, 'selectionList_6', item.option, lastModel)" 
          (keydown.enter)="searchNumber('selectionList_6', item.option, option.selectionList_6.input1, lastModel)">
      </mat-form-field>

      <p *ngIf="option.selectionList_6.input1 !== ''">Press enter to search</p>

      <p class="loading"*ngIf="!option.selectionList_6.selections[item.option]">Please wait...</p>

    </ng-template>
  </mat-expansion-panel>

</mat-accordion>

