
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Firmness</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Natural gift type</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Growth time</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Berry no.</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Max harvest</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Natural gift power</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Size</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Smoothness</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Soil dryness</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Flavors</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
