
<div class="wrap" [ngStyle]="wrapStyle">
  
  <div class="navigation">
    <app-search-options [option]="selected" (entries)="entries = $event" (refreshed)="refresh()" (calculatedHeight)="searchItemContentStyle = { 'min-height': $event + 'px' }"></app-search-options>
  </div>

  <div class="content">
    
    <div class="buttons">

      <button mat-raised-button (click)="selectDisplay(0)" #pokemon_selection>Pokémon</button>
      <button mat-raised-button (click)="selectDisplay(1)" #moves_selection>Moves</button>
      <button mat-raised-button (click)="selectDisplay(2)" #items_selection>Items</button>
      <button mat-raised-button (click)="selectDisplay(3)" #berries_selection>Berries</button>
      
    </div>

    <div class="search-items-container">

      <mat-card class="search-items-content" [ngStyle]="searchItemContentStyle">
        <mat-card-content *ngIf="entries.length === 0">

          <p class="no-data">Select an option to display {{ selected | search: 'selection-display' }}.</p>

        </mat-card-content>
        <mat-card-content class="entries">

          <div matRipple class="entry" *ngFor="let entry of entries" (click)="selectEntry(entry.id)">
            
            <img [src]="entry.byte64 | idToImage: 'byte64'" [alt]="entry.name">
            <div class="text-content">
              <div class="text">
                <p>#{{ entry.id }}</p>
                <p>{{ entry.name | cardText }}</p>
              </div>
            </div>

          </div>

        </mat-card-content>
      </mat-card>

    </div>

  </div>

</div>
