
.wrap {
  display: flex;
  background-color: white;
  margin: -30px;
  padding: 30px;
  width: 100vw;
  max-height: 100%;
  
  .navigation {
    flex: 1 1 calc(100vw - (100vw - 350px));
    margin-top: 46px;
  }
  
  .content {
    flex: 1 1 calc(100vw - 350px);

    .buttons {
      display: flex;
    }

    .search-items-container {
      padding-left: 16px;
    }
  }
}

.mat-raised-button {
  background-color: orange;
  font-family: 'VT323', monospace;
  color: black;
  font-size: 2em;
  padding: 5px 16px;
  margin-left: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  &:first-child {
    margin-left: auto;
  }
  
  &:hover {
    text-decoration: underline;
  }
  
  &.selected {
    text-decoration: underline;
  }
}

.search-items-content {
  border-top-right-radius: 0;
  border: 2px solid orange;

  .loading-entries {
    display: flex;
    width: 100%;

    .mat-spinner {
      margin: 50px auto auto auto;
    }
  }

  .no-data {
    font-family: 'VT323', monospace;
    font-size: 2em;
  }
}

.entries {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .entry {
    margin: 8px;
    padding: 8px;
    width: 136px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;

    &:hover {
      border: 1px solid orange;
    }

    img {
      width: 120px;
    }

    p {
      font-family: 'Coda', cursive;
      font-weight: 700;
      font-size: 17px;
      text-align: center;
      margin: 0;
    }

    .text-content {
      height: 60px;
      display: flex;

      .text {
        margin: auto;
      }
    }
  }
}

