
<div class="wrap" [ngStyle]="wrapStyle">
  
  <div class="navigation">
    <app-search-options [option]="selected"></app-search-options>
  </div>

  <div class="content">
    
    <div class="buttons">

      <button mat-raised-button (click)="selectDisplay(0)" #pokemon_selection>Pokémon</button>
      <button mat-raised-button (click)="selectDisplay(1)" #moves_selection>Moves</button>
      <button mat-raised-button (click)="selectDisplay(2)" #items_selection>Items</button>
      <button mat-raised-button (click)="selectDisplay(3)" #berries_selection>Berries</button>
      
    </div>

    <div class="search-items-container">

      <mat-card class="search-items-content">
        <mat-card-content>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quasi minima distinctio voluptatibus cupiditate. Adipisci placeat inventore, modi qui eaque necessitatibus quibusdam, facilis facere doloribus dolorem quam dolorum aspernatur quia.</p>

        </mat-card-content>
      </mat-card>

    </div>

  </div>

</div>
