
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Contest type</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Generation</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Ailment</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Category</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Target</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Type</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Accuracy</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Damage class</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Effect chance</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Move no.</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Ailment chance</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Critical rate</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Drain</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Flinch chance</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Healing</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Max hits</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Max turns</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Min hits</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Min turns</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Stat chance</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Power</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>PP</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Priority</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title><span>Super-contest-effect</span></mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
