
<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="spinner-message" *ngIf="isLoading">
  <p>Please wait...</p>
</div>

<div class="content" *ngIf="!isLoading">
  
  <div class="information" data-simplebar>

    <div class="close">
      <button mat-icon-button (click)="ref.close(null)">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="heading">

      <div class="text-head">
        <p class="type">Move: </p>
        <mat-chip-list>
          <mat-chip 
            class="mat-elevation-z3"
            [ngStyle]="{ 'background': data | dialogDetails: 'entries-header-color' }">
            <span>{{ data | dialogDetails: 'entries-header-chip' }}</span>
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="text-descriptions">
        <p class="head"><strong>Effect:</strong></p>
        <p class="description">{{ data | dialogDetails: 'text-effect-entry-effect' }}</p>

        <p class="head short"><strong>Short effect:</strong></p>
        <p class="description">{{ data | dialogDetails: 'text-effect-entry-short_effect' }}</p>
      </div>

    </div>
  
    <mat-divider></mat-divider>

    <div class="details">
     
      <div class="detail mat-elevation-z5">
        <div class="key" (click)="sections[0] = sections[0] ? false : true" [matTooltip]="sections[0] ? 'Collapse' : 'Expand information'" matTooltipClass="poke-tooltip">
          <span>Information</span>
          <mat-icon *ngIf="!sections[0]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sections[0]">keyboard_arrow_up</mat-icon>
        </div>
        <div class="value information" *ngIf="sections[0]">
          
          <div matRipple matTooltip="The base power of this move with a value of 0 if it does not have a base power." matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
            <div class="inner-key">
              <span>Power</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'power' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="Power points. The number of times this move can be used." matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
            <div class="inner-key">
              <span>PP</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'pp' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="A value between -8 and 8. Sets the order in which moves are executed during battle." matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
            <div class="inner-key">
              <span>Priority</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'priority' }}</span>
            </div>
          </div>
  
          <div matRipple matTooltip="The status ailment this move inflicts on its target." matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
            <div class="inner-key">
              <span>Ailment</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'ailment' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="The likelyhood this attack will cause an ailment." matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
            <div class="inner-key">
              <span>Ailment chance</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'ailment-chance' }}%</span>
            </div>
          </div>


          <div matRipple matTooltip="Critical hit rate bonus." matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
            <div class="inner-key">
              <span>Crit rate</span>
            </div>
            <div class="inner-value">
              <span>{{ data.meta.crit_rate }}%</span>
            </div>
          </div>
          <div matRipple matTooltip="The amount of hp gained by the attacking pokémon, in percent of it's maximum HP." matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
            <div class="inner-key">
              <span>Healing</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'healing' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="HP drain (if positive) or Recoil damage (if negative), in percent of damage done." matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
            <div class="inner-key">
              <span>Drain</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'drain' }}</span>
            </div>
          </div>


          <div matRipple matTooltip="The type of damage the move inflicts on the target, e.g. physical." matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
            <div class="inner-key">
              <span>Damage class</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'damage-class' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="The type of appeal this move gives a pokémon when used in a contest." matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
            <div class="inner-key">
              <span>Contest type</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'contest-type' }}</span>
            </div>
          </div>


          <div matRipple matTooltip="The percent value of how likely it is this moves effect will happen." matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
            <div class="inner-key">
              <span>Effect chance</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'effect-chance' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="	The likelyhood this attack will cause the target pokémon to flinch." matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
            <div class="inner-key">
              <span>Flinch chance</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'flinch-chance' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="The likelyhood this attack will cause a stat change in the target pokémon." matTooltipClass="poke-tooltip" class="inner-detail small mat-elevation-z3">
            <div class="inner-key">
              <span>Status chance</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'stat-chance' }}</span>
            </div>
          </div>

          
          <div matRipple matTooltip="The category of move this move falls under, e.g. damage or ailment." matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
            <div class="inner-key">
              <span>Category</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'category' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="The type of target that will recieve the effects of the attack." matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
            <div class="inner-key">
              <span>Target</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'target' }}</span>
            </div>
          </div>

          <div matRipple matTooltip="The maximum number of times this move hits. Null if it always only hits once." matTooltipClass="poke-tooltip" class="inner-detail tiny mat-elevation-z3">
            <div class="inner-key">
              <span>Max hits</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'ht-max_hits' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="The maximum number of turns this move continues to take effect. Null if it always only lasts one turn." matTooltipClass="poke-tooltip" class="inner-detail tiny mat-elevation-z3">
            <div class="inner-key">
              <span>Max turns</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'ht-max_turns' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="	The minimum number of times this move hits. Null if it always only hits once." matTooltipClass="poke-tooltip" matTooltipClass="poke-tooltip" class="inner-detail tiny mat-elevation-z3">
            <div class="inner-key">
              <span>Min hits</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'ht-min_hits' }}</span>
            </div>
          </div>
          <div matRipple matTooltip="The minimum number of turns this move continues to take effect. Null if it always only lasts one turn." matTooltipClass="poke-tooltip" class="inner-detail tiny mat-elevation-z3">
            <div class="inner-key">
              <span>Min turns</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'ht-min_turns' }}</span>
            </div>
          </div>
          
        </div>
      </div>

      <div class="detail mat-elevation-z5">
        <div class="key" (click)="sections[1] = sections[1] ? false : true" [matTooltip]="sections[1] ? 'Collapse' : 'Expand description entries'" matTooltipClass="poke-tooltip">
          <span>Damage class</span>
          <mat-icon *ngIf="!sections[1]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sections[1]">keyboard_arrow_up</mat-icon>
        </div>
        <div class="value" *ngIf="sections[1]">
          <span class="description">The type of damage the move inflicts on the target, e.g. physical.</span>
          <mat-divider></mat-divider>
          <div class="inner-detail mat-elevation-z3">
            <div class="inner-key">
              <span>{{ data | dialogDetails: 'damage-class-name' }}</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'damage-class-description' }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="detail mat-elevation-z5">
        <div class="key" (click)="sections[2] = sections[2] ? false : true" [matTooltip]="sections[2] ? 'Collapse' : 'Expand description entries'" matTooltipClass="poke-tooltip">
          <span>Target</span>
          <mat-icon *ngIf="!sections[2]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sections[2]">keyboard_arrow_up</mat-icon>
        </div>
        <div class="value" *ngIf="sections[2]">
          <span class="description">The type of target that will receive the effects of the attack.</span>
          <mat-divider></mat-divider>
          <div class="inner-detail mat-elevation-z3">
            <div class="inner-key">
              <span>{{ data | dialogDetails: 'target-name' }}</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'target-description' }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="detail mat-elevation-z5">
        <div class="key" (click)="sections[3] = sections[3] ? false : true" [matTooltip]="sections[3] ? 'Collapse' : 'Expand description entries'" matTooltipClass="poke-tooltip">
          <span>Machines</span>
          <mat-icon *ngIf="!sections[3]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sections[3]">keyboard_arrow_up</mat-icon>
        </div>
        <div class="value" *ngIf="sections[3]">
          <span *ngIf="(data | dialogDetails: 'machines')?.length === 0">
            No available data.
          </span>
          <div class="inner-detail mat-elevation-z3" *ngFor="let machine of data | dialogDetails: 'machines'">
            <div class="inner-key">
              <span>{{ machine._version }}</span>
            </div>
            <div class="inner-value">
              <p><strong>Machine:</strong> {{ machine._item }}</p>
              <p class="mb-0"><strong>Move:</strong> {{ machine._move }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="detail mat-elevation-z5">
        <div class="key" (click)="sections[4] = sections[4] ? false : true" [matTooltip]="sections[4] ? 'Collapse' : 'Expand description entries'" matTooltipClass="poke-tooltip">
          <span>Contest combo</span>
          <mat-icon *ngIf="!sections[4]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sections[4]">keyboard_arrow_up</mat-icon>
        </div>
        <div class="value contest-effect" *ngIf="sections[4]">
          <span class="description">A detail of normal and super contest combos that require this move.</span>
          <mat-divider class="large"></mat-divider>
          <div class="inner-detail large mat-elevation-z3">
            <div class="inner-key">
              <span>Normal</span>
            </div>
            <div class="inner-value contest-effect">
              <div class="inner-detail mat-elevation-z3" style="width: 385px;">
                <div class="inner-key">
                  <span>Use after</span>
                </div>
                <div class="inner-value contest-effect">
                  <p class="mb-0"*ngIf="(data | dialogDetails: 'contest-combo-normal-after').length === 0">
                    No content.
                  </p>
                  <mat-chip-list *ngIf="(data | dialogDetails: 'contest-combo-normal-after').length > 0">
                    <mat-chip 
                      class="mat-elevation-z3"
                      *ngFor="let move of data | dialogDetails: 'contest-combo-normal-after'"
                      [ngStyle]="{ 'background': move?.color }">
                      <span>{{ move?.name }}</span>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
              <div class="inner-detail mat-elevation-z3" style="width: 385px;">
                <div class="inner-key">
                  <span>Use before</span>
                </div>
                <div class="inner-value contest-effect">
                  <p class="mb-0"*ngIf="(data | dialogDetails: 'contest-combo-normal-before').length === 0">
                    No content.
                  </p>
                  <mat-chip-list *ngIf="(data | dialogDetails: 'contest-combo-normal-before').length > 0">
                    <mat-chip 
                      class="mat-elevation-z3"
                      *ngFor="let move of data | dialogDetails: 'contest-combo-normal-before'"
                      [ngStyle]="{ 'background': move?.color }">
                      <span>{{ move?.name }}</span>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </div>
          <div class="inner-detail large mat-elevation-z3">
            <div class="inner-key">
              <span>Super</span>
            </div>
            <div class="inner-value contest-effect">
              <div class="inner-detail mat-elevation-z3" style="width: 385px;">
                <div class="inner-key">
                  <span>Use after</span>
                </div>
                <div class="inner-value contest-effect">
                  <p class="mb-0"*ngIf="(data | dialogDetails: 'contest-combo-super-after').length === 0">
                    No content.
                  </p>
                  <mat-chip-list *ngIf="(data | dialogDetails: 'contest-combo-super-after').length > 0">
                    <mat-chip 
                      class="mat-elevation-z3"
                      *ngFor="let move of data | dialogDetails: 'contest-combo-super-after'"
                      [ngStyle]="{ 'background': move?.color }">
                      <span>{{ move?.name }}</span>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
              <div class="inner-detail mat-elevation-z3" style="width: 385px;">
                <div class="inner-key">
                  <span>Use before</span>
                </div>
                <div class="inner-value contest-effect">
                  <p class="mb-0"*ngIf="(data | dialogDetails: 'contest-combo-super-before').length === 0">
                    No content.
                  </p>
                  <mat-chip-list *ngIf="(data | dialogDetails: 'contest-combo-super-after').length > 0">
                    <mat-chip 
                      class="mat-elevation-z3"
                      *ngFor="let move of data | dialogDetails: 'contest-combo-super-before'"
                      [ngStyle]="{ 'background': move?.color }">
                      <span>{{ move?.name }}</span>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="detail mat-elevation-z5">
        <div class="key" (click)="sections[5] = sections[5] ? false : true" [matTooltip]="sections[5] ? 'Collapse' : 'Expand description entries'" matTooltipClass="poke-tooltip">
          <span>Contest type</span>
          <mat-icon *ngIf="!sections[5]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sections[5]">keyboard_arrow_up</mat-icon>
        </div>
        <div class="value" *ngIf="sections[5]">
          <span class="description">The type of appeal this move gives a pokémon when used in a contest.</span>
          <mat-divider></mat-divider>
          <div class="inner-detail mat-elevation-z3">
            <div class="inner-key">
              <span>{{ data | dialogDetails: 'contest-typpe-name' }}</span>
            </div>
            <div class="inner-value">
              <p><strong>Berry flavor:</strong> {{ data | dialogDetails: 'contest-typpe-berry-flavor' }}</p>
              <p><strong>Name:</strong> {{ data | dialogDetails: 'contest-typpe-name' }}</p>
              <p class="mb-0"><strong>Color:</strong> {{ data | dialogDetails: 'contest-typpe-color' }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="detail mat-elevation-z5">
        <div class="key" (click)="sections[6] = sections[6] ? false : true" [matTooltip]="sections[6] ? 'Collapse' : 'Expand description entries'" matTooltipClass="poke-tooltip">
          <span>Contest effect</span>
          <mat-icon *ngIf="!sections[6]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sections[6]">keyboard_arrow_up</mat-icon>
        </div>
        <div class="value contest-effect" *ngIf="sections[6]">
          <span class="description">The effect the move has when used in a contest.</span>
          <mat-divider class="large"></mat-divider>
          
          <div matRipple matTooltip="The base number of hearts the user of this move gets." matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
            <div class="inner-key">
              <span>Appeal</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'contest-effect-appeal' }}</span>
            </div>
          </div>
          
          <div matRipple matTooltip="The base number of hearts the user's opponent loses." matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
            <div class="inner-key">
              <span>Jam</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'contest-effect-jam' }}</span>
            </div>
          </div>

          <div class="inner-detail large mat-elevation-z3" style="cursor: default;">
            <div class="inner-key">
              <span>Effect</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'contest-effect-effect' }}</span>
            </div>
          </div>

          <div class="inner-detail large mat-elevation-z3" style="cursor: default;">
            <div class="inner-key">
              <span>Description</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'contest-effect-description' }}</span>
            </div>
          </div>

        </div>
      </div>

      <div class="detail mat-elevation-z5">
        <div class="key" (click)="sections[7] = sections[7] ? false : true" [matTooltip]="sections[7] ? 'Collapse' : 'Expand description entries'" matTooltipClass="poke-tooltip">
          <span>Support contest effect</span>
          <mat-icon *ngIf="!sections[7]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sections[7]">keyboard_arrow_up</mat-icon>
        </div>
        <div class="value contest-effect" *ngIf="sections[7]">
          <span class="description">The effect the move has when used in a super contest.</span>
          <mat-divider class="large"></mat-divider>
          
          <div matRipple matTooltip="The base number of hearts the user of this move gets." matTooltipClass="poke-tooltip" class="inner-detail medium mat-elevation-z3">
            <div class="inner-key">
              <span>Appeal</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'super-contest-effect-appeal' }}</span>
            </div>
          </div>
          
          <div class="inner-detail medium mat-elevation-z3" style="cursor: default;">
            <div class="inner-key">
              <span>Description</span>
            </div>
            <div class="inner-value">
              <span>{{ data | dialogDetails: 'super-contest-effect-description' }}</span>
            </div>
          </div>

        </div>
      </div>

      <div class="detail mat-elevation-z5">
        <div class="key" (click)="sections[8] = sections[8] ? false : true" [matTooltip]="sections[8] ? 'Collapse' : 'Expand description entries'" matTooltipClass="poke-tooltip">
          <span>Description entries</span>
          <mat-icon *ngIf="!sections[8]">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sections[8]">keyboard_arrow_up</mat-icon>
        </div>
        <div class="value" *ngIf="sections[8]">
          <div class="inner-detail mat-elevation-z3" *ngFor="let entries of data | dialogDetails: 'move-text-entries'">
            <div class="inner-key">
              <span>{{ entries?.label }}</span>
            </div>
            <div class="inner-value">
              <span>{{ entries?.effect }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="credits">
        <p class="app">Pokédex Little</p>
        <p class="developer">by ElecTreeFrying</p>
      </div>

    </div>

  </div>
  
</div>

