
.card-content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  height: 300px;

  .mat-card {
    background-color: #4E1338;
    color: white;
  }

  .mat-ripple {
    width: 250px;
    margin: 8px;
  }

}
