
.wrap {
  min-height: calc(100vh - 64px - 170px - 60px);
}

.footer {
  position: static;
  bottom: 0;
}

.card-content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  height: 400px;

  .mat-card {
    background-color: #4E1338;
    color: white;
  }

  .mat-ripple {
    width: 250px;
    margin: 24px;
  }

}
