<div class="close">
  <button mat-icon-button (click)="ref.close(null)">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="content">
  
  <div class="entries">
    <div data-simplebar>
      <p *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maxime dolores ullam quia modi obcaecati numquam suscipit ad eligendi assumenda voluptas similique cumque nisi, tempora dignissimos quisquam optio. Accusantium, corporis?</p>
    </div>
  </div>
  
  <div class="details">
    <div data-simplebar>
      <p *ngFor="let item of [0,0,0,0,0,0,0,0,0,0,0,0]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maxime dolores ullam quia modi obcaecati numquam suscipit ad eligendi assumenda voluptas similique cumque nisi, tempora dignissimos quisquam optio. Accusantium, corporis?</p>
    </div>
  </div>
  
</div>

